In [1]:
import pandas as pd

In [2]:
airbnb = pd.read_csv("data/Air_bnb_revised.csv")

In [3]:
airbnb.isnull().sum()

Unnamed: 0                     0
summary                        0
beds                           0
price                          0
minimum_nights                 0
latitude                       0
longitude                      0
accommodates                   0
bathrooms                      0
bedrooms                       0
price_cleaned                  0
extra_people_cleaned           0
cleaning_fee_filled            0
security_deposit_filled        0
superhost                      0
property_type_cleaned          0
room_type_cleaned              0
cancellation_policy_cleaned    0
dtype: int64

In [4]:
airbnb.price.dtypes

dtype('O')

In [5]:
#convert price to float 
airbnb['price'] = airbnb['price'].replace('[\$,]', '', regex=True).astype(float)

In [6]:
airbnb.price.isnull().sum()

0

In [7]:
airbnb.price.dtypes

dtype('float64')

In [8]:
airbnb.head()

,Unnamed: 0,summary,beds,price,minimum_nights,latitude,longitude,accommodates,bathrooms,bedrooms,price_cleaned,extra_people_cleaned,cleaning_fee_filled,security_deposit_filled,superhost,property_type_cleaned,room_type_cleaned,cancellation_policy_cleaned
0,0,Great location! 30 of 75 sq meters. This wood...,2,60.0,4,52.534537,13.402557,3,1.0,1,60.0,28.0,30.0,200.0,True,0,0,0
1,2,This beautiful first floor apartment is situa...,2,90.0,62,52.534996,13.417579,4,1.0,1,90.0,20.0,50.0,200.0,False,1,0,0
2,3,First of all: I prefer short-notice bookings. ...,1,26.0,5,52.498855,13.349065,2,1.0,1,26.0,18.0,30.0,250.0,False,1,1,0
3,4,Cozy and large room in the beautiful district ...,2,42.0,2,52.543157,13.415091,2,1.0,1,42.0,24.0,0.0,0.0,True,1,1,2
4,5,4 bedroom with very large windows and outstand...,7,180.0,6,52.533031,13.416047,7,2.5,4,180.0,10.0,80.0,400.0,False,1,0,0

In [9]:
#for now drop summary, implement NLP later 
airbnb = airbnb.drop(["summary"], axis=1)

In [10]:
airbnb.head()

,Unnamed: 0,beds,price,minimum_nights,latitude,longitude,accommodates,bathrooms,bedrooms,price_cleaned,extra_people_cleaned,cleaning_fee_filled,security_deposit_filled,superhost,property_type_cleaned,room_type_cleaned,cancellation_policy_cleaned
0,0,2,60.0,4,52.534537,13.402557,3,1.0,1,60.0,28.0,30.0,200.0,True,0,0,0
1,2,2,90.0,62,52.534996,13.417579,4,1.0,1,90.0,20.0,50.0,200.0,False,1,0,0
2,3,1,26.0,5,52.498855,13.349065,2,1.0,1,26.0,18.0,30.0,250.0,False,1,1,0
3,4,2,42.0,2,52.543157,13.415091,2,1.0,1,42.0,24.0,0.0,0.0,True,1,1,2
4,5,7,180.0,6,52.533031,13.416047,7,2.5,4,180.0,10.0,80.0,400.0,False,1,0,0

In [11]:
#train test split
#split data test and train
from sklearn.model_selection import train_test_split

X = airbnb.drop(["price"],axis=1)
y = airbnb["price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10,random_state=42)

In [12]:
# normalize data
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range=(0, 1))
X_train = sc.fit_transform(X_train)
X_test  = sc.transform(X_test)

/Users/isaaclopez/anaconda3/envs/U4-S1-NLP/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype bool, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [13]:
#nn import statement 
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.metrics import mean_squared_error
from keras.optimizers import Adam

Using TensorFlow backend.

In [14]:
#set parameters
batch_size = 32
epochs = 25

In [15]:
#import model and layers 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [16]:
X_train.shape

(10612, 16)

In [17]:
model = Sequential()

model.add(Dense(6, input_dim=16, activation='relu'))

model.add(Dense(6, activation='relu'))

model.add(Dense(6, activation='relu'))

model.add(Dense(1, activation='relu'))

model.compile(loss='mean_squared_error',
                  optimizer='adam',
                  metrics=['mse','mae'])

model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 102
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 193
Trainable params: 193
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(X_train, y_train, epochs=50, verbose=True)

In [20]:
scores = model.evaluate(X_test,y_test)

1180/1180 [==============================] - 0s 71us/sample - loss: 2070.0638 - mse: 2070.0637 - mae: 24.2283

In [21]:
print(f"{model.metrics_names[1]}: {scores[1]*100}")

mse: 207006.3720703125

In [22]:
print(f"{model.metrics_names[2]}: {scores[2]*100}")

mae: 2422.8349685668945

In [27]:
from numpy import array

In [30]:
Xnew = array([[0,2,60,4,52.534537,13.402557,3,1,0,1,60.0,28.0,30.0,200.0,1,0]])

In [31]:
ynew= model.predict(Xnew)

In [32]:
print("X=%s, Predicted=%s" % (Xnew[0],ynew[0]))

X=[  0.         2.        60.         4.        52.534537  13.402557
   3.         1.         0.         1.        60.        28.
  30.       200.         1.         0.      ], Predicted=[6973.257]

In [33]:
print(ynew)

[[6973.257]]